$primary : rgba(0, 0, 0, 0.8);
$title : rgba(0, 0, 0, 0.9);
$subtitle : rgba(0, 0, 0, 0.75);
$secondary: rgba(0, 0, 0, 0.5);
$details: rgba(0, 0, 0, 0.1);
$disabled: rgba(0, 0, 0, 0.1);
$main_light: #fff;
$main_dark: #E5E5E5;
$accent: #DEC377;
$accent_dark: #AB8B2F;
$font_title: 'Commissioner', sans-serif;
$font_main: 'Lato', sans-serif;